<form action="/events/create" method="post" enctype="multipart/form-data">
  <label>Name</label>
  <input type="text" name="name">
  <br />
  <label>Type</label>
  <input type="text" name="type">
  <br />
  <label>Address</label>
  <input type="text" name="address" id="address" >
  <br />
  <label>City</label>
  <input type="text" name="city" id="city" >
  <br />
  <label>State/Region/Province</label>
  <input type="text" name="state" id="state">
  <br />
  <label>Country</label>
  <input type="text" name="country" id="country">
  <br />
  <label>Capacity</label>
  <input type="number" name="capacity">
  <br />
  <label>Start time</label>
  <input type="time" name="start">
  <br />
  <label>End time</label>
  <input type="time" name="end">
  <br />
  <label>Describe your event</label>
  <input type="text" name="description">
  <br />
  <label>Date of your event</label>
  <input type="date" name="date">
  <br />
  <label>Types of Food</label>
  <input type="text" name="foodTypes">
  <br />
  <label>Select a picture for your event</label>
  <input type="file" name="image">
  <br />
  <input type="text" name="lat" id="lat" hidden>
  <input type="text" name="lng" id="lng" hidden>
  

  <button type="submit" id="button" disabled>Create Event</button>
</form>
<hr>
<h3>Add a location to your event!</h3>
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = '{{token}}';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
  const gc = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
    
  })

  gc.on("result", e=>{
    const { result: {center, context, place_type, place_name}}=e
    if(place_type.includes("address")){
    document.querySelector('#country').value = context[context.length-1].text
    document.querySelector('#state').value = context[context.length-2].text
    document.querySelector('#city').value = context[context.length-3].text
    document.querySelector('#address').value = place_name
    document.querySelector('#lng').value = center[0]
    document.querySelector('#lat').value = center[1]
    document.querySelector('#button').removeAttribute('disabled')
    } else{
    document.querySelector('#address').value = place_name
    document.querySelector('#lng').value = center[0]
    document.querySelector('#lat').value = center[1]
    document.querySelector('#button').removeAttribute('disabled')
    }
  })

  map.addControl(gc)

</script>