<h1>My events</h1>

<a href="/profile"><button>Back to Profile</button></a>
<a href="/events/create"><button>Create New Event</button></a>
<ul>
{{#each events}}
<li><a href="/events/detail/{{_id}}">{{name}}</a>
- <a href="/events/delete/{{_id}}">✖</a></li>
<img src="{{picture}}" alt="imagen" style="width: 200px;">
{{/each}}
</ul>