<div class="centered">
  <br>
  <h1>Create New Dish</h1>
  <br>

  <form action="/menus/create" method="post" id="form-container">
    
    <div class="form-group">
      <label>Name of dish</label>
      <input class="form-control" type="text" id="name" name="name">
    </div>
    
    <div class="form-group">
      <label>Type of food</label>
      <input class="form-control" type="text" id="type" name="type">
    </div>

    <div class="form-group">
      <label>Price</label>
      <input class="form-control" type="number" id="price" name="price">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" type="text" name="description" id="description"></textarea>
    </div>   

    <br><br>

    <button class="btn btn-danger btn-block" style="background-color: #ff5722;" type="submit">Create dish</button>
    
    <br>
    
    <a href="/menus"><button type="button" class="btn btn-outline-secondary btn-block">Cancel</button></a>

  </form>
</div>