<h1>My Menu Items</h1>
<input type="button" value="Go back!" onclick="history.back()">

<ul>
  {{#each menus}}
    <div class = "menu-item">
      <h3>{{name}}</h3>
      <h4>{{type}}</h4>
      <p>{{price}}</p>
      <p>{{description}}</p>
    </div>
  {{/each}}
</ul>