<div style="height: 500px;" id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div style="height: 500px;" class="carousel-item active">
      <img src="/images/chef-cooking-food-in-the-restaurant-kitchen.jpg" style="vertical-align: middle;" class="d-block w-100" alt="chef photo">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="text-shadow: 0 0 4px black;">For Chefs</h5>
        <p style="text-shadow: 0 0 4px black;">Find your next catering event or contract</p>
        <a href="/chef/signup"><button type="button" class="btn btn-danger" style="background-color: #ff5722;">Create Chef account now</button></a>
      </div>
    </div>
    <div style="height: 500px;" class="carousel-item">
      <img src="/images/buffet-table-with-snacks-from-burgers-cheeses-etc.jpg" style="vertical-align: middle;" class="d-block w-100" alt="catering photo">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:white; text-shadow: 0 0 4px black;">For Hosts</h5>
        <p style="color:white; text-shadow: 0 0 4px black;">Find the perfect chef for your catering needs.</p>
        <a href="/user/signup"><button type="button" class="btn btn-dark">Create user account now</button></a>
      </div>
    </div>
    <div style="height: 500px;" class="carousel-item">
      <img src="/images/sandwiches-with-smoked-salmon-cream-cheese-dill.jpg" style="vertical-align: middle;" class="d-block w-100" alt="catering photo2">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:white; text-shadow: 0 0 4px black;">Personalized experiences</h5>
        <p style="color: white; text-shadow: 0 0 4px black;">Whether a chef or host, we've got your back every step of the way</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="row">
  <div class="col-sm" style="text-align: center; padding: 75px">
    <img src="/images/chef-hat1.png" alt="" style="width: 100px; margin: 25px;">
    <br>
    <h5>For Chefs</h5>
    <br>
    <p style="padding 25px">Find your next catering event or hiring opportunity with us</p>
  </div>
  <div class="col-sm" style="text-align: center; padding: 75px">
    <img src="/images/house.png" alt="" style="width: 100px; margin: 25px;">
    <br>
    <h5>For Hosts</h5>
    <br>
    <p style="padding 25px">Wow your guests and find the perfect chef for your next wedding, reunion, or big event</p>
  </div>
  <div class="col-sm" style="text-align: center; padding: 75px">
    <img src="/images/chef-hat.png" alt="" style="width: 100px; margin: 25px;">
    <br>
    <h5>Cater your next event with us</h5>
    <br>
    <p style="padding 25px"> Our platform connects chefs with hosts. Browse and contact potential events and chefs right here.</p>
  </div>
</div>
<footer style="background-color: rgb(39, 39, 39); color: white; padding: 20px 0 20px 0; text-align: center">
  <small>Made by: <a href="https://github.com/Luizzmy">Gabriel Valenzuela</a> and <a href="https://github.com/ayhankonar">Ayhan Konar</a></small>
</footer>