<h1>Oh Oh! It seems like you are not logged in!</h1>

<h2>You need to have an account and log in to access this page</h2>

<img src="https://2.bp.blogspot.com/-4uO7fbD06r0/WxwFAtjzehI/AAAAAAAAWYk/FiQkwptHTpIMKAg0t7XGKc-ZpooPEedkwCLcBGAs/s1600/happy-chef.png" alt="happy chef face">

    <a href="/login">Login to your account!</a>
    <hr> 
    <p>or</p>
    <hr>
    <a href="/chef/signup">Sign up as a chef</a>
    <hr>
    <p>or</p>
    <hr>
    <a href="/user/signup">Register as a User</a>

